.rounded { 
	border-radius: 10px; 
}

.float-left-margin-left-15 {
	float: left;
	margin-right: 15px;
}

.gmap{
	height: 340px;
	width:90%;
	margin:0 auto;
	margin-bottom: 10px;
}

.address label{
	font-weight: bold;
}
.address{
	font-size: smaller;
}

.alert{
	font-size:smaller;
}

.panel-heading{
	text-align: center;
}

.required_star {
	font-weight:bold;
	color:#F00;
}

.border-right {
	border-right: 1px solid #CCC;
	margin-right: 20px;
}

.float-left {
	float:left;
}


/* TO DO 
- Remove the boders in the msg section
*/

.gallery-tile{
	display: block;
	float:left;
	height:450px;
	padding:5px;
}

.gallery-tile.lg,
.gallery-tile.ln{
	height:600px;
}

.tile-item{
	height:100%;
	border:solid red 2px;
}

.gallery-tile img{
	height:90%;
	width:100%;
	border:solid blue 2px;
}

.gallery-tile{
	text-align:center;
}
.tile-caption{
	height:10%;
	border:1px solid green;
}
