.rounded { 
	border-radius: 10px; 
}

.float-left-margin-left-15 {
	float: left;
	margin-right: 15px;
}

/* To be changed */
.gmap{
	height: 340px;
	width:90%;
	margin:0 auto;
	border: 1px solid red;
	margin-bottom: 10px;
}

.address label{
	font-weight: bold;
}
.address{
	font-size: smaller;
}

.alert{
	font-size:smaller;
}

.panel-heading{
	text-align: center;
}

.required_star {
	font-weight:bold;
	color:#F00;
}

.border-right {
	border-right: 1px solid #CCC;
	margin-right: 20px;
}

.float-left {
	float:left;
}
