body{
  background-image: url(http://cdn.elevage-fees-de-celestia.fr/static/gb2.jpg);
  height: 100%;
  width:100%;
  background-attachment: fixed;
}

.row {
}

.rounded-border{
  margin:10px 0;
  border:2px solid white; 
  border-radius: 10px;
}
.float-left-margin-left-15 {
   float: left;
   margin-right: 15px;
}
.gmap {
   width:100%;
   height: 340px;
  border-color: #34495e;
}
.contact .panel-body{
  background-color: #dddddd;
}

.address label {
   font-weight: bold;
}
.address {
   font-size: smaller;
}

.alert {
   font-size:smaller;
}
.contact .panel-heading {
   text-align: center;
}
.required_star {
   color:#F00;
   font-weight:bold;
}
.border-right {
   margin-right: 20px;
   border-right: 1px solid #CCC;
}
.float-left {
   float:left;
}

 .gallery-tile {
   display: block;
   float:left;
   padding:10px;
   height:310px;
   text-align:center;
}
.gallery-tile.ln {
   height:350px;
}
.gallery-tile.lg {
   height:600px;
}
.tile-item {
   height:100%;
   border:solid grey 2px;
   border-radius:10px;
}
.gallery-tile img {
   width:100%;
   height:100%;
   border-radius: 8px;
}
.tag-top {
   position: relative;
   top: -40px;
   left: 34px;
   width: 27px;
   height: 20px;
   border-top: 1px solid #A50A56;
   border-radius: 20px;
   background-color: #de3d3d;
}
.tag-bottom {
   width: 95px;
   height: 30px;
   border: 1px solid #A50A56;
   border-top-left-radius: 17px;
   border-top-right-radius: 17px;
   border-bottom-right-radius: 6px;
   border-bottom-left-radius: 7px;
   background: #ec2290;
   /* Old browsers */
   background: -moz-linear-gradient(top, #ec2290 39%, #cc287a 100%);
   /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(39%, #ec2290), color-stop(100%, #cc287a));
   /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, #ec2290 39%, #cc287a 100%);
   /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, #ec2290 39%, #cc287a 100%);
   /* Opera 11.10+ */
   background: -ms-linear-gradient(top, #ec2290 39%, #cc287a 100%);
   /* IE10+ */
   background: linear-gradient(to bottom, #de3d3d 39%, #de3d3d 100%);
   box-shadow: 1px 1px 5px #547;
   /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec2290', endColorstr='#cc287a', GradientType=0);
   /* IE6-9 */
}
.tag-text {
   position: relative;
   padding-top:3px;
   color:#ffffff;
   text-align: center;
   font-style: bold;
   font-size:15px;
}
.box-tag {
   position:absolute;
   position:relative;
   top:30px;
   left: -3px;
   display: block;
   float:right;
   margin-bottom: -16px;
   font-size: 14px;
}
.tile-caption p {
   float:left;
   width: 70%;
   font-size:smaller;
   line-height: 14px;
}
.glyphicon-ok-sign {
   color:#eeeb23;
}
.tile-caption, .tile-item figcaption {
   position: relative;
   top:-50px;
   padding-top:10px;
   max-height: 50px;
   width:100%;
   height:50px;
   border-bottom-right-radius: 7px;
   border-bottom-left-radius: 7px;
   background: rgba(0, 0, 0, 0.5);
   color:white;
}
.tile-item:hover {
   border: solid 3px #de3d3d;
}
.tile-item figcaption {
   display:none;
   max-height:50px;
}
.tile-item:hover .tile-caption {
   display:none;
}
.tile-item:hover figcaption {
   display:block;
}
figcaption .btn-info {
   padding:1px;
   height:30px;
}

.navbar-inverse .navbar-brand {
   border:none;
  color:#232830;
}

.navbar-inverse .nav > li > a {
   padding:17px 17px;
}
#header {
   height: 20px;
   border-bottom: 1px solid red;
   background-image:url('/public/images/long-art.jpg');
}

footer ul {
   list-style-image:url('/public/images/list-bullets.png');
}
.intro {
   color: #c3a26F;
}
.news {
   text-decoration: underline;
}
div.hr {
   height: 2px;
   background: #fff url(/public/images/hr.png) repeat-y scroll center;
}
div.hr hr {
   display: none;
}
.new-dogs .featured-post .post-image img {
   max-width:250px;
   max-height: 250px;
   height: 90%;
   border-radius: 50%;
}

.featured-post a{
  background-color:#40a048;
}
.featured-post h5 {
   margin:0;
   padding:0;
   color:#1a9ab1;
   font-size: 20px;
   font-family: Arial;
}


.jumbotron {
   margin-top: none;
   padding:10px 0;
    background: black url(/public/images/hero_bg.gif) repeat;
   font-family:Lato, Helvetica, Arial, sans-serif;
}
.jumbotron p {
   font-weight: bold;
   font-size: 18px;
}
.jumbotron h2 {
   margin-bottom: 1px;
}
.title-image {
   width:100px;
   height: 100px;
}
.new-dogs {
    padding: 30px 0;
   background: black url(/public/images/hero_bg.gif) repeat; 
   color:#191919;
   text-align: center;
}
.news-item {
   padding: 20px;
}

.front-page-video {
  margin:0;
  padding:0;
   background-color: black;
}

.vjs-default-skin .vjs-big-play-button {
   top:45%;
   left: 50%;
}

.vjs-default-skin .vjs-control-bar {
  padding-top:5px;
}

.demo-tiles{
    height:auto;
    background:  url(/public/images/hero_bg.gif) repeat;
    text-align: center;
}

footer {
  padding-top: 2px;
  margin-top: 20px;
  background-color: #333333;
}

footer img{
  height: 100%;
}
footer .footer-banner{
   min-height: 0px;
   height:100%;
    padding-top: 0px;
   background-color: #074e68;
}

.tile{
  border-radius: 0;
      background:transparent;
}

.btn:hover,
.demo-tiles .btn:hover,
.demo-tiles .btn:focus,
 .btn:focus {
    border: none;
    background: #55290b;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color:#fff;
}

.demo-tiles .btn
{
    background-color:#40a048;
    font-weight: bold;
}

.demo-tiles .fbk:hover,
.demo-tiles .fbk:focus {
    background-color:  #3B5998;
}

.demo-tiles .google:hover,
.demo-tiles .google:focus{
    background-color: #b43223;
}

.footer-title{
    margin-bottom: 1px;
    text-align: center;
}

footer .footer-banner li{
    border:none;
    font-size: 16px;
}

a:hover,
a:focus
{
  color:#6564B2;
}

.tag-top .glyphicon-pushpin{
    top: -14px;
    left:8px;
    color:gold;
    -webkit-transform: rotate(10deg); 
-moz-transform: rotate(10deg); 
    transform: rotate(10deg);   
}

h2 {
   color: #3a87ad;
}
h3 {
   color: rgb(108, 102, 209);
}
h6 {
   color: #344952;
}

.navbar-inverse .navbar-brand  {
  padding-top:0;
}

 .navbar .nav-pills >li >a {
     padding:25px;
    color: #005580;
    font-weight: 200;
    font-size: 21px;
 }
   .navbar .nav-pills > li > a:hover {
      background-color: #0088cc;
 }
 .navbar .nav-pills .active > a {
    background-color:#ccc;
    color:#0088cc;
}

.navbar-inverse{
  margin-bottom: 10px;
  padding-top: 30px;
  border-bottom: 1px solid red;
  border-radius: 0;
  background-color: white;
  opacity:0.8;
  filter:Alpha(opacity=80); /* IE8 and earlier */
}

.news-item{
  background-color: white;
}

.news{
    padding-bottom: 30px;
    border-radius: 4px;
    background-color: #EEEEEE;
}

.news-item p,
.news-item ul,
.news-item ul li{
  line-height: 21px;
}

.news-item ul{
  margin-bottom: 0;
}

.news-post{
  display: inline-block;
  padding: 5px;
  height: auto;
}

.small, small{
  line-height: 21px;
}

.horizontal-divider{
  margin:0 auto;
  margin-bottom: 40px;
  width: 70%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.news-heading{
  color:#6c66db;
  font-size: 30px;
  font-family: 'Redressed', cursive;
}

.news-heading h6{
  margin:0;
  text-align: left;
}

.news-item .glyphicon-pushpin{
  position:absolute;
  top:-3%;
  left:97%;
}
.glyphicon-pushpin{
    font-size: 22px;
}

.chiot{
  margin-top: 10px;
}
.chiot img{
  max-width: 100%;
  max-height: 90%;
}

.chiot .panel-heading{
  border-radius: 4px;
  background-color: #d00857;
  line-height: 13px;
}

.chiot .panel-heading h3,
.chiot .badge{
  font-size: 18px;
}

.chiot .panel-heading h3,
.chiot .panel-body p{
  font-size: 16px;
  line-height: 17px;
}

.chiot .panel{
  margin-bottom: 0;
}

.panel-body span{
  font-weight: bold;
}

.glyphicon-chevron-down{
  font-size: 10px;
}

.navbar-toggle{
    background-color: rgb(22, 160, 133);
}

.dog-carrousel{
  margin: 20px 0;
}

.table-striped{
  padding:10px;
  border-radius: 10px;
  background-color:#d8dfe5;
}

.navbar-brand a{
  color:#232830;
  font-size: 30px;
  line-height: 30px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #fcb43e;
}

.dog-info h3{
  text-align: center;
}

.dog-text blockquote{
  border-radius: 10px;
  background-color: #ececec;
}


.footer-banner{
  padding-top: 20px;
  min-height: 0px;
  background-color: #074e68;
}

.small-btn{
  margin: 0 auto;
  max-width:200px;
  width:auto;
}

.news-proper{
  padding:10px;
  height: auto;
  background-color: #eff6ff;
}

.news-proper img{
  margin-bottom: 20px;
  max-width: 100%;
}

.news-proper h4{
  text-align: center;
}

.news-proper{
  text-align: center;
}

/* Media Queries (On met ca a derrier)*/
@media screen and (max-width: 1210px) {
    .nav-brand-extra{ 
      display:none;
    }
}
@media screen and (max-width: 770px) {
  .vjs-default-skin .vjs-big-play-button {
   top:40%;
   left: 35%;
}


    .navbar{
      padding-top:20px;
    }

    .navbar-brand a{
      font-size: 30px;
    }
  .navbar .nav-pills >li >a{
    padding:10px;

 }
    .navbar-inverse .nav li
    {
        padding:10px 10px;
        width:100%;
        border-bottom: 1px solid #34495e;
        text-align: center;

    }
    .navbar-inverse .nav > li.active, 
    .navbar-inverse .nav > li.active,
    .navbar-inverse .nav > li.active{
        background-color: rgb(26, 188, 156);
     }

     .navbar-inverse .navbar-brand  img {
    position: relative;
    margin-top:0px;
    height: 50px;
    }
}
